.teste{
    
    
    color:white;
}

.container{

    width:100%;
    margin-left:52rem;
    margin-top:10rem;
    justify-content: space-between;
    
}

.tasksAreConclusion{
    
    color:var(--blue)
}
.conclusion{
    
    margin-left:30rem;
    color:var(--purple)
}

.tasksVisible{
    height:100%;
    widhth:100%;
    
    margin-top:5rem;
    margin-left:32rem;

}

.ListStyles {
    
    margin-left:18rem
}

.ListStyles p{
    margin-left:2rem;
    display:inline;
}

.ListStyles button{
    border:none;
    border-radius:10px;
    
    
}





